/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.venv/
venv/
__pycache__/
*.py[cod]
db.sqlite3
*.sqlite3
.idea/
.vscode/
*.iml
.DS_Store
.env
.env.*
game/static/game/dist/
